.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0f172a;
  overflow: hidden;
}

.iframeWrapper {
  flex-grow: 1;
  padding-top: 5rem; /* Ajustado para el Navbar */
  height: 100%;
  width: 100%;
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
  background-color: white;
}
