.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0f172a;
  overflow: hidden;
}

.iframeWrapper {
  flex: 1;
  margin-top: 90px;
  position: relative;
  height: auto;
  width: 100%;
  padding-top: 0;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: white;
}
